<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/video/style.css' />
    <link rel='stylesheet' href='/layouts/header.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body class="big-body">
    <div id='box1'>
        <header id="header">
            <nav id="navbar">
                <div></div>
                <div id="menu-control">
                    <div id="dropdown-personal">
                        <button id="personal-drop-btn">
                            <img id="personal-avatar" class="header-avatar" src="/personal/avatar/109000001.png">
                                </button>
                                <div id="personal-menu">
                                    <img id="personal-img" src="/personal/avatar/109000001.png">
                            <div id="username">
                                Ou Ting Yun
                                <div id="userunit">
                                    Tina
                                </div>
                            </div>
                            <div id="personal-controls">
                                <a id="personal-btn" href="/personal">我的個人專區</a>
                                <a id="logout" href="/logout">登出</a>
                            </div>
                    </div>
                </div>
                                <div id="dropdown-menu">
                                    <button id="drop-btn">
                  <img id="menu-btn" src="/layouts/menuBtn.png" alt="">
                </button>
                                    <div id="header-menu">
                                        <div class="row">
                                            <a href="/documents" class="link-wrapper">
                                                <img src="/layouts/menuIcon/document.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/document.png" alt="" class="link-title">
                                            </a>
                                            <a href="/qna" class="link-wrapper">
                                                <img src="/layouts/menuIcon/qna.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/qna.png" alt="" class="link-title">
                                            </a>
                                            <a href="/campus" class="link-wrapper">
                                                <img src="/layouts/menuIcon/map.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/map.png" alt="" class="link-title">
                                            </a>
                                        </div>
                                        <div class="row">
                                            <a href="/groups" class="link-wrapper">
                                                <img src="/layouts/menuIcon/group.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/group.png" alt="" class="link-title">
                                            </a>
                                            <a href="/life" class="link-wrapper">
                                                <img src="/layouts/menuIcon/life.png" alt="" class="menuIcon">
                                                <img id="nculife" src="/layouts/linkTitle/life.png" alt="" class="link-title">
                                            </a>
                                            <a href="/video" class="link-wrapper" target="_blank">
                                                <img src="/layouts/menuIcon/video.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/video.png" alt="" class="link-title">
                                            </a>
                                        </div>
                                        <div class="row">
                                            <a href="/link" class="link-wrapper">
                                                <img src="/layouts/menuIcon/link.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/link.png" alt="" class="link-title">
                                            </a>
                                            <a href="/coolgame" class="link-wrapper">
                                                <img src="/layouts/menuIcon/game.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/game.png" alt="" class="link-title">
                                            </a>
                                            <a href="/about" class="link-wrapper">
                                                <img src="/layouts/menuIcon/about.png" alt="" class="menuIcon">
                                                <img src="/layouts/linkTitle/about.png" alt="" class="link-title">
                                            </a>
                                        </div>

                                    </div>
            </nav>
        </header>
        <div class="first_pad">
            <div class="first_bottom">
                <div id="tapherebox">
                    <div id='tapheretext' class="fonttype"></div>
                    <img src="/video/camera_page/taphere.png" id="imgtaphere">
                </div>
                <a href="/video/ncutube#l1bar">
                    <div class=' menu_inti_posi' id="D1">
                        <img src="/video/camera_page/bl1-2.png" class="img_size_back pointer">
                        <img src="/video/camera_page/l1.png" class="img_initposi img_size pointer" id="l1">
                    </div>
                </a>
                <a href="/video/ncutube#l2bar">
                    <div class='menu_inti_posi' id="D2">
                        <img src="/video/camera_page/bl2-2.png" class="img_size_back pointer">
                        <img src="/video/camera_page/l2.png" class="img_initposi img_size pointer" id="l2">
                    </div>
                </a>
                <a href="/video/ncutube#r2bar">
                    <div class='menu_inti_posi' id="Dr2">
                        <img src="/video/camera_page/br2-2.png" class="img_size_back pointer">
                        <img src="/video/camera_page/r2.png" class="img_initposi img_size pointer" id="r2">
                    </div>
                </a>
                <a href="/video/ncutube#r3bar">
                    <div class='menu_inti_posi' id="Dr3">
                        <img src="/video/camera_page/br3-2.png" class="img_size_back pointer">
                        <img src="/video/camera_page/r3.png" class="img_initposi img_size pointer" id="r3">
                    </div>
                </a>
                <div class="camera_move ">
                    <div class="camera_move">
                        <div class="camera pointer animate__animated fadeInDown ">
                            <div class="camera_btn"> </div>
                            <div class="body">
                                <div class="rectangle" id='top'>
                                    <div class="line"> </div>
                                    <img src="/video/camera_page/camera_glass.gif" id="glass">
                                    </img>
                                    <div class="circle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_pad">
                <div class="ncutube_text fonttype"></div>
                <div class="last_line">
                    <a id='p_c' href="https://www.youtube.com/">
                    <p class="login_text fonttype"> </p>
                    </a>
                    <p class="login_text fonttype">&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>

        </div>
    </div>
</body>
<% include ../layouts/head %>
<% include firstpage%>

</html>