<div id='box1'>


    </header> -->
    <header id="header">
        <nav id="navbar">
            <div id="box1-1">
                <a href="/video">
                    <div class='camerabox'>
                        <div class="camera pointer animated">
                            <div class="camera_btn"> </div>
                            <div class="body">
                                <div class="rectangle border_set" id='top'>
                                    <div class="line border_set"> </div>
                                    <img src="/video/camera_page/camera_glass.gif" id="glass">
                                    <div class="circle"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
                <div class="fonttype" id="ncutext">NCUTUBE
                </div>
            </div>
            <div id="phone_timecount">
            </div>
            <div id="cat"></div>
            <a id='p_c'
                href="https://docs.google.com/forms/d/e/1FAIpQLSfTgSfyB5FMKFlupKn48kqT4YpKnJc4e5Bug-JrniJynPyQOQ/viewform"
                target="_blank">
                <div id="phone_cat">
                </div>
            </a>
            <div id="phone_grass">
            </div>
            <div id="shadow">
            </div>
            <div id="menu-control">
                <div id="dropdown-personal">
                    <button id="personal-drop-btn">
                        <img id="personal-avatar" class="header-avatar" src="/personal/avatar/109000001.png">

                            </button>
                            <div id="personal-menu">
                                <img id="personal-img" src="/personal/avatar/109000001.png">
                        <div id="username">
                            Ou Ting Yun
                            <div id="userunit">
                                Tina
                            </div>
                        </div>
                        <div id="personal-controls">
                            <a id="personal-btn" href="/personal">我的個人專區</a>
                            <a id="logout" href="/logout">登出</a>
                        </div>
                </div>
            </div>
                            <div id="dropdown-menu">
                                <button id="drop-btn">
              <img id="menu-btn" src="/layouts/menuBtn.png" alt="">
            </button>
                                <div id="header-menu">
                                    <div class="row">
                                        <a href="/documents" class="link-wrapper">
                                            <img src="/layouts/menuIcon/document.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/document.png" alt="" class="link-title">
                                        </a>
                                        <a href="/qna" class="link-wrapper">
                                            <img src="/layouts/menuIcon/qna.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/qna.png" alt="" class="link-title">
                                        </a>
                                        <a href="/campus" class="link-wrapper">
                                            <img src="/layouts/menuIcon/map.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/map.png" alt="" class="link-title">
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="/groups" class="link-wrapper">
                                            <img src="/layouts/menuIcon/group.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/group.png" alt="" class="link-title">
                                        </a>
                                        <a href="/life" class="link-wrapper">
                                            <img src="/layouts/menuIcon/life.png" alt="" class="menuIcon">
                                            <img id="nculife" src="/layouts/linkTitle/life.png" alt="" class="link-title">
                                        </a>
                                        <a href="/video" class="link-wrapper" target="_blank">
                                            <img src="/layouts/menuIcon/video.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/video.png" alt="" class="link-title">
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="/link" class="link-wrapper">
                                            <img src="/layouts/menuIcon/link.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/link.png" alt="" class="link-title">
                                        </a>
                                        <a href="/coolgame" class="link-wrapper">
                                            <img src="/layouts/menuIcon/game.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/game.png" alt="" class="link-title">
                                        </a>
                                        <a href="/about" class="link-wrapper">
                                            <img src="/layouts/menuIcon/about.png" alt="" class="menuIcon">
                                            <img src="/layouts/linkTitle/about.png" alt="" class="link-title">
                                        </a>
                                    </div>

                                </div>
        </nav>
    </header>
    </div>